@import "./src/App";

.header_wrapper {
  margin: 10px 30px;
  padding: 0 50px;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary;
  min-height: 150px;

  @media (max-width: 600px) {
    margin: 10px 0;
    padding: 0 10px
  }

  .header_logo {
    &:hover {
      cursor: pointer;
    }
  }

  .header_page_block {
    flex-grow: 1;

    .header_caption {
      @include fontSpaceTrans(600 24px $fontM, 10px, uppercase);
      text-align: center;
      margin: 20px 0;
    }

    .header_line {
      background-color: $color-third;
      border: 2px solid $color-primary;
      margin: 0 100px;
    }

    .header_page_group {
      display: flex;
      justify-content: space-around;
      margin: 20px 0;

      .header_page_group_title {
        @include fontSpaceTrans(400 18px $fontM, 1px, uppercase);

        @media (max-width: 600px) {
          font: 400 12px "Merriweather";
        }

        &:hover {
          color: $color-fourth;
          cursor: pointer;
        }
      }
    }
  }

  .avatar {
    &:hover {
      cursor: pointer;
    }
  }
}

.header_menu_item {
  color: $color-secondary;
  @include fontSpaceTrans(400 18px $fontM, 1px, uppercase);
}

