@import 'antd/dist/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Merriweather:ital,wght@0,300;1,400&display=swap');

$color-primary: #FF8C00FF;
$color-secondary: #000000FF;
$color-third: #E4A2A4FF;
$color-fourth: #FFFFFFFF;

$fontM: "Merriweather";
$fontJ: "Josefin+Sans";

@mixin fontSpaceTrans($f, $s, $t) {
  font: $f;
  letter-spacing: $s;
  text-transform: $t
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("img/bg-time-1.jpg") no-repeat fixed;
  background-size: cover;
}

.content {
  flex: 1;
}

:global .ant-dropdown-menu.ant-dropdown-menu-root {
  background-color: $color-primary;
}

:global .ant-dropdown-arrow {
  & :after {
    background-color: $color-primary;
  }
}



